.logotipo{
  width: 80px;
  margin-top: 7px;
}
.logotipo2{
  display:block;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 15px;
}
#dropdown1{
  background-color: #e53935;

}
.submenu{
  color: white !important;
}
.security-policy p{
  text-align: justify;
}
.fixed-action-btn{
	padding-bottom: 30px;
}
.carousel .carousel-item>img{
  height: 100%;
  width: 100%;
}
.slogan{
  color: #3F100F;
  font-family: 'Shrikhand', cursive;
}
.bgfinanzas{
  background-image: url(../img/bgfinanzas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.bgdevelopment{
  background-image: url(../img/bgdevelopment.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.bgdatacenter{
  background-image: url(../img/bgdatacenter.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.img-nosotros img {
  width: 100%;
}
.nostros{
  background-image: url(../img/equipo-unido.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-attachment: fixed;
}
.nosotros-texto{
  color: white;
  font-family: 'Fugaz One', cursive;
  background: rgba(1, 22, 39, 0.3);
}
.nostros i{
  font-size: 36px !important;
}
.intro-servicios{
  margin-top: 50px;  
}
.intro-servicios i{
 font-size: 106px !important;
 color: #e53935;
}
.intro-servicios h4, p{
  color: #3F100F;;
}
.formulario{
  background-image: url(../img/large_way.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-attachment: fixed;
}
.formulario-cardcolor{
  background: rgba(120, 144, 156, .7)
}
.validate{
  color: white;
}
.input-field input:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
.input-field textarea:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
.input-field input {
  border-bottom: 1px solid #bdbdbd !important;
  box-shadow: 0 1px 0 0 #bdbdbd !important;
}
.input-field textarea {
  border-bottom: 1px solid #bdbdbd !important;
  box-shadow: 0 1px 0 0 #bdbdbd !important;
}
.contacto2 a{
  text-decoration: none;
  color: white !important;
  text-transform: lowercase !important;
}
.contacto2 a:hover{
  color: #ffab40 !important;
}
.socialmedia{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 15px !important;
}
.fb-page{ 
    width: 100% !important; 
}
.divisor-socialmedia{
  padding-bottom: 25px !important;
}
.img-contoper{
  background-image: url(../img/contoper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
}
.img-contoper h4{
  color: #bf360c;
  font-family: 'Fugaz One', cursive; 
}