/* Navbar */
.logo_white{
  padding-top: 0.4em;
}
.logo_sidenav{
  height: 100px !important;
  max-width: 100%;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-top: 10px;
  padding-left: 45px;
}
.sidenav_sublinks{
  line-height: 32px !important;
  padding: 0 45px !important;
  height: 35px !important;
}

/* Main Index*/
/* Section Carousel */
.section_carousel{
  .carusel-item{
    position: fixed;
  }
  h1{
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .equipo-unido{
    background-image: url("../img/equipo-unido.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .books{
    background-image: url("../img/books.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contoper{
    background-image: url("../img/contoper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Section Achievements*/
.section_achievements{
  padding: 32px 0;
  text-align: center;
  i{
    font-size: 106px !important;
  }
  h4{
    font-weight: bold;
  }
  i, h4, h5{
    color: #e53935;
  }
  .section_achievements_hover{
    padding: 16px 0 !important;
  }
  .section_achievements_hover:hover{
    i{
      color: #c62828;
      transition: 0.4s;
    }
  }
}
/* Section Comments*/
.section_comments{
  padding: 32px 0;
  .laptop_upload_sar{
    height: 300px;
    background-image: url("../img/laptop_upload_sar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .money_plants{
    height: 300px;
    background-image: url("../img/money_plants.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section_comments_text{
    height: 300px;
    // margin-top: -15px;
    padding: 32px 32px !important;
    h5{
      font-weight: bold;
    }
    p{
      text-align: justify;
    }
  }
}

/*Media Query*/
@media only screen and (max-width: 600px) {
  .section_comments{
    .section_comments_text{
      height: 300px;
      margin-top: -15px;
      padding: 0px 32px !important;
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px){
  .section_comments{
    .section_comments_text{
      height: 300px;
      // margin-top: -15px;
      padding: 0px 32px !important;
    }
  }
}
