.logotipo{
  width: 80px;
  margin-top: 7px;
}
.logotipo2{
  display:block;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 15px;
}
#dropdown1{
  background-color: #e53935;

}
.submenu{
  color: white !important;
}
.security-policy p{
  text-align: justify;
}
.fixed-action-btn{
	padding-bottom: 30px;
}
.carousel .carousel-item>img{
  height: 100%;
  width: 100%;
}
.slogan{
  color: #3F100F;
  font-family: 'Shrikhand', cursive;
}
.bgfinanzas{
  background-image: url(../img/bgfinanzas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.bgdevelopment{
  background-image: url(../img/bgdevelopment.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.bgdatacenter{
  background-image: url(../img/bgdatacenter.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.img-nosotros img {
  width: 100%;
}
.nostros{
  background-image: url(../img/equipo-unido.jpg);
  background-position: center;
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotros-texto{
  color: white;
  font-family: 'Fugaz One', cursive;
  background: rgba(1, 22, 39, 0.3);
}
.nostros i{
  font-size: 36px !important;
}
.intro-servicios{
  margin-top: 50px;  
}
.intro-servicios i{
 font-size: 106px !important;
 color: #e53935;
}
.intro-servicios h4, p{
  color: #3F100F;
}
.intro-servicios a{
  text-decoration: none !important;
}