.logotipo{
  width: 80px;
  margin-top: 7px;
}
.logotipo2{
  display:block;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 15px;
}
#dropdown1{
  background-color: #e53935;

}
.submenu{
  color: white !important;
}
.security-policy p{
  text-align: justify;
}
.fixed-action-btn{
	padding-bottom: 30px;
}
.carousel .carousel-item>img{
  height: 100%;
  width: 100%;
}
.slogan{
  color: #3F100F;
  font-family: 'Shrikhand', cursive;
}
.bgfinanzas{
  background-image: url(../img/bgfinanzas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.bgdevelopment{
  background-image: url(../img/bgdevelopment.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.bgdatacenter{
  background-image: url(../img/bgdatacenter.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
.img-nosotros img {
  width: 100%;
}
.nostros{
  background-image: url(../img/equipo-unido.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-attachment: fixed;
}
.nosotros-texto{
  color: white;
  font-family: 'Fugaz One', cursive;
  background: rgba(1, 22, 39, 0.3);
}
.nostros i{
  font-size: 36px !important;
}
.intro-servicios{
  margin-top: 50px;
}
.intro-servicios i{
 font-size: 106px !important;
 color: #e53935;
}
.intro-servicios h5, p{
  color: #3F100F;;
}
.formulario{
  background-image: url(../img/large_way.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-attachment: fixed;
}
.formulario-cardcolor{
  background: rgba(120, 144, 156, .7)
}
.validate{
  color: white;
}
.input-field input:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
.input-field textarea:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
.input-field input {
  border-bottom: 1px solid #bdbdbd !important;
  box-shadow: 0 1px 0 0 #bdbdbd !important;
}
.input-field textarea {
  border-bottom: 1px solid #bdbdbd !important;
  box-shadow: 0 1px 0 0 #bdbdbd !important;
}
.contacto2 a{
  text-decoration: none;
  color: white !important;
  text-transform: lowercase !important;
}
.contacto2 a:hover{
  color: #ffab40 !important;
}
.socialmedia{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 15px !important;
}
.fb-page{
    width: 100% !important;
}
.divisor-socialmedia{
  padding-bottom: 25px !important;
}
html, body{
  height: 100%;
}
.img-contoper{
  background-image: url(../img/contoper.jpg);
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
  padding-top: 250px;
  padding-bottom: 250px;
}
.webdesign{
  background-image: url(../img/webdesign.jpg);
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
  padding-top: 250px;
  padding-bottom: 250px;
}
.webdesign h4{
  color: white;
  font-family: 'Audiowide', cursive;
}
.diseño-web h1, h3{
  color: #b71c1c;
  font-family: 'Audiowide', cursive;
}
.diseño-web{
  padding-bottom: 25px;
}
.diseñowebcontent{
  color: #b71c1c;
  font-family: 'Audiowide', cursive;
  text-align: justify;
}
.img-contoper h4{
  color: white;
  font-family: 'Fugaz One', cursive;
}
.desc-servicios1{
  padding-top: 50px;
}
.desc-servicios2{
  padding-bottom: 50px;
}
.servicios1 li div{
  background-color: #e53935;
}
.servicios2 li div{
  background-color: #e65100;
}
.servicios3 li div{
  background-color: #8d6e63;
}
.servicios4 li div{
  background-color: #546e7a;
}
.card-content{
  text-align: justify;
}
@media (max-width: 600px) {
  .diseño-web h1{
    font-family: 'Audiowide', cursive;
    font-size:32px;
  }
  .diseño-web h3{
    font-family: 'Audiowide', cursive;
    font-size:29px;
  }
}
