/*Generals*/

.justify_text {
    text-align: justify;
}

.bold_text {
    font-weight: bold;
}

.text_spacing {
    line-height: 150%;
}


/*Animations*/

.animate_materlialize {
    transform: translateX(0px);
    opacity: 0;
}


/* Navbar */

.logo_white {
    padding-top: 0.4em;
}

.logo_sidenav {
    height: 100px !important;
    max-width: 100%;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-top: 10px;
    padding-left: 45px;
}


/* Main Index*/


/* Section Carousel */

.section_carousel {
    .carusel-item {
        position: fixed;
    }
    h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .equipo-unido {
        background-image: url("../img/equipo-unido.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .books {
        background-image: url("../img/books.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contoper {
        background-image: url("../img/contoper.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/* Section Achievements*/

.section_achievements {
    padding: 32px 0;
    text-align: center;
    i {
        font-size: 106px !important;
    }
    h4 {
        font-weight: bold;
    }
    i,
    h4,
    h5 {
        color: #e57373;
    }
    .section_achievements_text {
        padding: 16px 0 !important;
    }
    .section_achievements_text:hover {
        i,
        h4,
        h5 {
            color: #c62828;
            transition: 0.5s;
        }
    }
}


/* Section Comments*/

.section_comments {
    padding: 32px 0;
    .laptop_upload_sar {
        height: 300px;
        background-image: url("../img/laptop_upload_sar.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .money_plants {
        height: 300px;
        background-image: url("../img/money_plants.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section_comments_text {
        height: 300px;
        // margin-top: -15px;
        padding: 32px 32px !important;
        h5 {
            font-weight: bold;
        }
        p {
            text-align: justify;
        }
    }
}


/* Section About Us*/

.section_about_us {
    .row {
        padding: 64px 0;
        .img_why_us {
            background-image: url('../img/img_why_usjpg');
            height: 400px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
}

.section_information {
    height: auto;
    background-image: url('../img/team_work.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .parallax {
        height: auto;
        background-color: rgba(1, 44, 79, 0.8);
        text-align: center;
        color: white;
        .col {
            ul {
                font-size: 1rem;
                li {
                    padding: 5px 0;
                }
            }
            #list-effect li {
                transform: translateX(0px);
                opacity: 0;
                transition: all 0.3s;
            }
        }
    }
}

.section_vision_mision {
    margin-top: -20px;
    padding: 10px 0;
}

// Pagina de servicios
.section_service_parallax {
    .parallax-container {
        height: 600px;
    }
}

.section_service_message {
    text-align: center;
    .row {
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// .servicios_lista {
//     min-height: 400px;
//     padding: 20px;
//     .img_contable2 {
//         height: 310px;
//         background: url("../img/accounting2.jpg") no-repeat center / cover;
//     }
// }
// Formulario
.formulario {
    background-image: url(../img/large_way.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: fixed;
}


/*Media Query*/

@media only screen and (max-width: 600px) {
    .section_comments {
        .section_comments_text {
            height: 300px;
            margin-top: -15px;
            padding: 0px 32px !important;
        }
    }
    .servicios_lista {
        .lista_servicios {
            margin-top: -20px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .section_comments {
        .section_comments_text {
            height: 300px;
            // margin-top: -15px;
            padding: 0px 32px !important;
        }
    }
}

@media only screen and (max-width: 992px) {
    .section_achievements {
        i,
        h4,
        h5 {
            color: #c62828;
        }
    }
}

@media only screen and (min-width: 992px) {
    .section_information {
        height: auto;
        .parallax {
            height: auto;
            .col {
                ul {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .section_vision_mision {
        .card-image img {
            height: 400px;
        }
    }
}


/*Animations Scroll*/

.animateAbove {
    opacity: 0;
    transition: all 0.5s;
}

.showAbove {
    animation: showAbove 1s;
}

@keyframes showAbove {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.animateBelow {
    opacity: 0;
    transition: all 0.5s;
}

.showBelow {
    animation: showBelow 1s;
}

@keyframes showBelow {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.animateRight {
    opacity: 0;
    transition: all 0.5s;
}

.showRight {
    animation: showRight 1s;
}

@keyframes showRight {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.animateLeft {
    opacity: 0;
    transition: all 0.5s;
}

.showLeft {
    animation: showLeft 1s;
}

@keyframes showLeft {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}